* {
    margin: 0 auto;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
a:hover{
    color:rgb(227, 24, 24);
}
table {

    border-collapse: collapse;
}
main {
    width:1000px;
}

header{
    width:1000px;
    height: 400px;
}

/* notice_board.html*/
.main { 
    margin: auto;
    text-align: center;
}

.main > .search {
    background-color: #ded4d4ae;
    margin-top: 10px;
    height:60px;
}
.main > .search >input {
    border: none;
    margin-top:8px;
    width: 80%;
    height: 45px;
}
.main > .search > button{
    background-color:#acacb37e;
    border: none;
    width: 50px;
    height: 45px;
}
.main ul {
    padding-top: 50px;
    text-align: right;
    margin-right: 10px;
}
.main ul li {
    display:inline-block;
    padding: 5px;
}
.main ul span {
    display:inline-block;
    padding: 5px;
}
.list_chart {
    padding-top: 10px;
}

.list {
    width:100%;
    border-top: 3px solid #acacb37e;

}
.list thead th { 
    padding: 10px;
}
.list > th,td{
    padding-top: 10px;
    border-bottom:1px solid #b9b7b78f;
 
}
.list  tbody td {

    text-align: center;
}
.list tbody tr td:nth-child(2){
    text-align: left;
}
.page_number {
    margin-top:40px;
    text-align: center;
}
.page_number > .number >li {
    margin:10px;
    display: inline-block;
}
.list_chart > input {
    float: right;
    margin: 10px;
    cursor: pointer;
    border:1px solid grey;
    border-radius: 5px;
}

/*write_board.html*/
.write_main {
    margin: auto;
}

.write_main > .write_part > h2{
    text-align: center;
    margin: 8px;
}

.text_title {
    position: relative;
    height: 40px;
    padding-left:5px;
    padding-top:10px;
}
.text_title > input{
    height:30px;
    width: 920px;
    padding-left: 10px;   
    border: none;

}
hr {
    margin: 10px;

}
fieldset {
    border:none;
     background-color: #ded4d4ae;
}
.main_text {
    position: relative;
    padding-left:5px;
    padding-top:5px;
}
.main_text > textarea {
    margin-top:10px;
    width: 955px;
    height: 400px;
    border: none;
}
.main_text > label {
    font-size: 13px;
    margin-top: 5px;
    display: inline-block;
    padding: .5em .75em;
    background-color: #fdfdfd;
    cursor: pointer;
    width: 70px;
    height: 30px; 
}
.main_text > input{
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}
.button_save {
    margin-top:10px;
    float: right;
}
.button_save > button{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    border: 1px solid grey;
    
}
.text_list {
    text-align: center;
    margin-top: 50px;
}
.text_list > a {
    font-size: 15px;
}
